/* Poner defaults a 0 */
* {MARGIN: 0;}


/*the width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
}

/*labesl : valores de default, override a BOOTSTRAP*/
label {
	width:100%;
    display: inline;
}

/* cath all de imagenes al 100%*/
img, embed, object, video {
	max-width:100%;
}


/* cath all de SVG y propiedades de su wraper al 100%*/	
.svg-flex{
	width:100%;
}

.divsvgzonas{
	width: 100%; 
	position: relative; 
	padding-top: 100%;
	text-align: left;
}	

.divsvgzonas svg{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	margin-top: -100%;	
		
}


/*disable chrome highhlights*/
*:focus {
    outline: none;
}


/*  estilos de las tablas   */
.tb {
    display: table;   
	border-collapse:collapse; 
    
}

.row{
    display: table-row;
}

.col{
    display: table-cell;
	position: initial;
    width: initial;
    padding-right: initial;
    padding-left: initial;
}

.col-color-bg{
	display: table-cell;
	padding-left: initial;
}

.capt{
	display:table-caption;
}

.bloque{
	display:inline-block;
}




/* configuración de ancho máximo */
.ancholimitado {
	width: 100%;
	max-width: 1200px;
    min-width:320px;
	text-align: left;
    display: block;
	margin:0px auto;
}

.anchoSUPERlimitado {
	width: 100%;
	max-width: 600px;
    min-width:320px;
	text-align: left;
    display: block;
	margin:0px auto;
}


/*  links defaults  */	
a:link {
	color: #000000;
	text-decoration: none
}
a:hover {
	color: #003366;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:active {
	text-decoration: none;
	color: #000000;
}	


/*  FONTS   */
.font {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
}
.font100 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 100px;
}
.font50 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 50px;
}
.font40 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 40px;
}
.font30 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 30px;
}
.font22 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 22px;
}
.font18 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 18px;
}
.font16 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 16px;
}
.font14 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 14px;
}
.font13 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 12px;
}
.font12 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 12px;
}
.font11 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 11px;
}
.font10 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 10px;
}
.font9 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 9px;
}
.font8 {
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-size: 8px;
}

.negro{
	color: #000000;
}
.blanco{
	color: #ffffff;
}
.azul{
	color: #003366;
}
.gris{
	color:#CCCCCC;
}
.grisoscuro{
	color:#494949;
}
.grisclaro{
	color:#848484;
}
.rojo{
	color: #CC0000;
}
.amarillo{
	color: #fbc05a;
}
.naranja {
	color:#ff7700; /*antes era ff9900*/
}
.rojocancelado{
	color: #990000;
}
.naranjapospuesto{
	color: #cc3300;
}
.azulmarino{
	color: #002a4a;
}
.conciertostxt{
	color: #ff3333;
}


.aligerar {
	font-weight: 300;
}
.boldear {
	font-weight: bold;
}
.boldear600 {
	font-weight: 600;
}
.boldear700 {
	font-weight: 700;
}
.boldear800 {
	font-weight: 800;
}


.centrarTexto {
	text-align:center;
}
.izquierdaText {
	text-align:left;
}
.derechaText {
	text-align:right;
}
.centrarDIV {
	margin:0px auto;	
}

.mayusculas {
	text-transform:uppercase;
}

.mayusculas_primera:first-letter{
  text-transform: capitalize
}

.sombra1px_negro {
	text-shadow: 2px 2px #000000;
}

.unasolalinea{
	white-space: nowrap;
}

.espacios5{
	padding:5px;
	margin:5px;
}

.espacios10{
	padding:10px;
}

.espacios15{
	padding:15px;
}

.espacios20{
	padding:20px;
}

.espacios30{
	padding:30px;
}

.espaciospadding10{
	padding:10px;
}

.espaciosmargintop2{
	margin-top:2px;
}


/*  cambiadores de texto   */
h1 {
	font-size: 150%;
}

h2 {
	font-size: 125%;
}

h3 {
	font-size: 115%;
	text-transform:uppercase;
}

h4 {
	font-size: 100%;
}


/*  COLOR Y EFECTOS DE LINKS   */

.URLBLANCA:link, .URLBLANCA:visited, .URLBLANCA:active   {
	text-decoration: none;
	color: #FFFFFF;
}

.URLBLANCA:hover {
	text-decoration: none;
	/*color:#e9e9af;*/
	color:#feca4e;
}

.URLROJO:link, .URLROJO:visited, .URLROJO:active   {
	text-decoration: none;
	color: #CC0000;
}

.URLROJO:hover {
	text-decoration: none;
	/*color:#e9e9af;*/
	color:#CC0000;
}

.URLMENU:link, .URLMENU:visited, .URLMENU:active   {
	text-decoration: none;
	color: #FFFFFF;
}

.URLMENU:hover {
	text-decoration: none;
	color:#002a4a;
}

.URLAZUL:link, .URLAZUL:visited, .URLAZUL:active   {
	text-decoration: none;
	color: #003366;
	cursor:pointer;
}

.URLAZUL:hover {
	text-decoration: none;
	/*color:#e9e9af;*/
	color:#003366;
	cursor:pointer;
}

.URLAZULMARINO:link, .URLAZULMARINO:visited, .URLAZULMARINO:active   {
	text-decoration: none;
	color: #002a4a;
}

.URLAZULMARINO:hover {
	text-decoration: none;
	/*color:#e9e9af;*/
	color:#002a4a;
}

.URLNEGRA:link, .URLNEGRA:visited, .URLNEGRA:active   {
	text-decoration: none;
	color: #000000;
}

.URLNEGRA:hover {
	text-decoration: none;
	/*color:#e9e9af;*/
	color:#000000;
}

.URLGRISOSCURO:link, .URLGRISOSCURO:visited, .URLGRISOSCURO:active   {
	text-decoration: none;
	color: #494949;
}

.URLGRISOSCURO:hover {
	text-decoration: none;
	/*color:#e9e9af;*/
	color:#494949;
}
.URLGRISCLARO:link, .URLGRISCLARO:visited, .URLGRISCLARO:active   {
	text-decoration: none;
	color: #848484;
}

.URLGRISCLARO:hover {
	text-decoration: none;
	/*color:#e9e9af;*/
	color:#848484;
}

.URLCOMPRA:link, .URLCOMPRA:visited, .URLCOMPRA:active   {
	text-decoration: none;
	color: #FFFFFF;
}

.URLCOMPRA:hover {
	text-decoration: none;
	color:#feca4e;
}


.alinearenmedio {
	vertical-align:middle;
}

.alineararriba{
	vertical-align:top;
}

.ancho_100 {
	width:100%;
}

coreccion_ancho_100 {
	width:100%;
}

.ancho_50 {
	width:50%;
}



/* estilos de los botones */


.goButton { /* este es el azul seleccionado*/
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	
	color: #ffffff;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:7px 10px; /* esto hace que el boton se vea abultadito*/
	
	border:none;
	background-color: #125cb7;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.goButton:hover:not(:disabled) {
	background:#0f50a0;
	cursor:pointer;
	color:#feca4e; /*pone las letras amarillas en el hover */
}

.goButton_sec { /* este es el azul oscuro y cambia al azul seleccionado en el hover*/
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	
	color: #ffffff;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:7px 10px;		
	
	border:none;
	background-color: #003366;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.goButton_sec:hover {
	background:#125cb7;
	cursor:pointer;
	color:#feca4e; /*pone las letras amarillas en el hover */	
}

.goButton_sec_white { /* este es con fondo en blanco y letra negra y cambia al azul seleccionado en el hover*/
	font-weight: bold;
	text-decoration: none;
	/*letter-spacing: 1px;*/ /* se lo quitamos parta no hacer tan grande este boton secundario */
	
	color: #000000;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:7px 10px;		
	
	border:none;
	background-color: #ffffff;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.goButton_sec_white:hover {
	background:#125cb7;
	cursor:pointer;
	color:#feca4e; /*pone las letras amarillas en el hover */	
}

.goButton_orange { /* este es con fondo en blanco y letra negra y cambia al azul seleccionado en el hover*/
	font-weight: bold;
	text-decoration: none;
	/*letter-spacing: 1px;*/ /* se lo quitamos parta no hacer tan grande este boton secundario */
	
	color: #ffffff;
	padding:7px 10px;		
	
	border:none;
	background-color: #ff9900;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.goButton_orange:hover {
	background:#ff7400;
	cursor:pointer;
	color:#ffffff; /*pone las letras amarillas en el hover */	
}




.goButton_bloque { /* este es el azul seleccionado*/
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	
	color: #ffffff;
	
	border:none;
	background-color: #125cb7;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	display: block;
    padding: 5px 0px;	
}

.goButton_bloque:hover {
	background:#0f50a0;
	cursor:pointer;
}

.closeButton { /* este es el azul seleccionado*/
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	
	color: #ff0000;
		
	/*min-width: 40px;
    min-height: 40px;*/
	
	/*padding:7px 10px;*/ /* esto hace que el boton se vea abultadito*/
	
	border:none;
	background-color:transparent;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	/*border-radius:5px;*/
}


.link_div{
	cursor:pointer;
}


/*INICIA :  ESTA CLASE NO SE DEBE DE MOVER QUE CORRESPONDE AL MENU*/
.CatButton { 
	font-weight: bold;
	text-decoration: none;
	
	color: #ffffff;
	
	border:none;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	text-align:center;
}

.CatButton a, .CatButton span {
	padding:7px 8px;	/*cuando solo era "a" era margin, al cambiar a SPAN lo puse padding*/
}

.CatButton:hover   {
	background:#FFF;
	cursor:pointer;
}

.CatButton:hover a, .CatButton:hover span {
	color:#002a4a;
}

.CatButton_hovered {
	background:#FFF;
	cursor:pointer;
}

.CatButton_hovered a, .CatButton_hovered span {
	color:#002a4a;
}
/*TERMINA ESTA CLASE NO SE DEBE DE MOVER QUE CORRESPONDE AL MENU*/


.IniciaFacebook { /* este es el BOTON DE COMPRA VERDE */
	font-family:Tahoma, "Lucida Grande", Helvetica, sans-serif;
	font-size:16px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: .50px;
	text-align:center;
	margin:0px auto;
	
	color: #ffffff;
	max-width:375px;
	width: 100%;
	
	/*padding:6px 5px; /* esto hace que el boton se vea abultadito*/
	
	border: 1px solid #3b5998;
	background-color: #3b5998 !important;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.logofacebook_sesion{
	padding:10px;
	border-radius:5px 0px 0px 5px;
	border-right:#FFF 1px solid;
}

.IniciaGoogle{ /* este es el BOTON DE COMPRA VERDE */
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: .50px;
	text-align:center;
	margin:0px auto;
	
	
	color: #ffffff;
	max-width:375px;
	width: 100%;
	
	/*padding:6px 5px; /* esto hace que el boton se vea abultadito*/
	
	border: 1px solid #dd4b39;
	background-color: #dd4b39 !important;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.ComparteMessenger { /* este es el BOTON DE COMPRA VERDE */
	font-family:Tahoma, "Lucida Grande", Helvetica, sans-serif;
	font-size:16px;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: .50px;
	text-align:center;
	margin:0px auto;
	
	color: #ffffff;
	max-width:300px;
	width: 100%;
	
	/*padding:6px 5px; /* esto hace que el boton se vea abultadito*/
	
	border: 1px solid #0078FF;
	background-color: #0078FF !important;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.logoMessenger_sesion{
	padding:10px;
	border-radius:5px 0px 0px 5px;
	border-right:#FFF 1px solid;
}

.iconos_formularios{
	padding:10px;
	border-radius:5px 0px 0px 5px;
	color:#003366;
}



.botonentrarlive { /* este es el BOTON DE COMPRA VERDE */
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	text-align:center;
	
	color: #ffffff;
	min-width:100px;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:7px 5px; /* esto hace que el boton se vea abultadito*/
	
	border:none;
	
	background-color: #003366;
	/*background-color: #f04a53;*/
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.botonentrarlive:hover {
	
	background-color: #f04a53;
	color: #ffffff;
	/*background:#b52b32;*/
	cursor:pointer;
}


.botoncompra { /* este es el BOTON DE COMPRA VERDE */
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	text-align:center;
	
	color: #ffffff;
	min-width:100px;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:7px 5px; /* esto hace que el boton se vea abultadito*/
	
	border:none;
	background-color: #009816;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.botoncompra:hover {
	background:#006c10;
	cursor:pointer;
}

.botonevento { /* este es el BOTON DE COMPRA VERDE */
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	text-align:center;
	
	color: #ffffff;
	min-width:100px;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:7px 5px; /* esto hace que el boton se vea abultadito*/
	
	border:none;
	/*background-color: #009816;*/
	background-color: #0066bb;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.botonevento:hover {
	/*background:#006c10;*/
	background:#005599;
	cursor:pointer;
}


.botonproximamente { /* este es el BOTON PROXIMAMENTE */
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 0px;
	text-align:center;	
	
	/*color: #ffffff;*/
	color: #0066bb;
	min-width:100px;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:6px 4px; /* esto hace que el boton se vea abultadito*/
	
	border:1px solid #0066bb;
	/*background-color: #0066bb;*/
	background-color: #ffffff;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.botonproximamente:hover {
	border:1px solid #005599;	
	/*color: #ffffff;*/
	color: #005599;
	/*background:#005599;*/
	background-color: #ffffff;
	cursor:pointer;
}

.botonvereventos { /* este es el BOTON PROXIMAMENTE */
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	text-align:center;	
	
	color: #ffffff;
	min-width:140px;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:7px 5px; /* esto hace que el boton se vea abultadito*/
	
	border:1px solid #0066bb;
	background-color: #0066bb;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:pointer;
	border-radius:5px;
}

.botonvereventos:hover {
	border:1px solid #005599;	
	color: #ffffff;	
	background:#005599;
	cursor:pointer;
}


.botoncancelado { /* este es el BOTON CANCELADO CON ROJO */
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 0px;
	text-align:center;
	
	color: #990000;
	min-width:100px;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:6px 4px; /* esto hace que el boton se vea abultadito*/
	
	border:1px solid #990000;
	background-color: #FFFFFF;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:default;
	border-radius:5px;
}

.botoncancelado:hover {
	border:1px solid #880000;	
	color: #880000;	
	background:#FFFFFF;
	cursor:default;
}

.botonpospuesto { /* este es el BOTON pospuesto EN NARANJA */
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 0px;
	text-align:center;	
	
	color: #cc3300;
	min-width:100px;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:6px 4px; /* esto hace que el boton se vea abultadito*/
	
	border:1px solid #cc3300;
	background-color: #FFFFFF;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:default;
	border-radius:5px;
}

.botonpospuesto:hover {
	border:1px solid #BB2200;	
	color: #BB2200;	
	background:#FFFFFF;
	cursor:default;
}

.botonagotado { /* este es el BOTON de agotado */
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 0px;
	text-align:center;	
	
	color: #003366;
	min-width:100px;
	
	/*
	min-width: 40px;
    min-height: 40px;
	*/
	
	padding:6px 4px; /* esto hace que el boton se vea abultadito*/
	
	border:1px solid #003366;
	background-color: #FFFFFF;
			
	-webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
		
	cursor:default;
	border-radius:5px;
}

.botonagotado:hover {
	border:1px solid #002244;	
	color: #002244;	
	background:#FFFFFF;
	cursor:default;
}


.botoninfo {
	background-color:#006699;;
	border-bottom:#002233 solid; 
	border-right:#002233 solid; 
	border-left:#0088cc solid; 
	border-top:#0088cc solid; 
	border-width:1PX;  
}

.botoninfo:hover {
	border-top: 1px solid #002233;
	border-right: 1px solid #0088cc;
	border-bottom: 1px solid #0088cc;
	border-left: 1px solid #002233;
	color:#e9e9af;
}





.SubmitButton3 { /* este es el naranja */
	font-size: 12px;
	color: #ffffff;
	border:none;
	background-color: #ee7d0c;
	font-weight: bold;
	padding:7px 15px 7px 15px;
	text-decoration: none;
	margin-top: 0px;
	cursor:pointer;
	border-radius:5px;
	min-width:150px;
}

.SubmitButton3:hover {
	background-color: #ce6d0d;
}


.SubmitButton4 { /* este es el gris */
	font-size: 12px;
	color: #333333;
	border:none;
	background-color: #dddddd;
	font-weight: bold;
	padding:7px 15px 7px 15px;
	text-decoration: none;
	margin-top: 0px;
	cursor:pointer;
	border-radius:5px;
	min-width:150px;
}

.SubmitButton4:hover {
	background-color: #a3a3a3;
	color: #FFFFFF;
}





/* estilos de las formas */

.required:after {
	content:" *";
	color: red;
}

input.goButton:hover {
	color:#feca4e;
}

input.campoparabusqueda, select.campoparabusqueda {
	font-size: 14px;
	height: 36px;
	padding: 0px 4px;
	border:2px solid #125cb7;
	border-radius:5px;
}

input.campoparabusqueda:hover, input.campoparabusqueda:focus {
	border:2px solid #feca4e;
}


input.campos, select.campos {
	font-size: 10px;
	height: 21px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-right: 4px;
	padding-left: 4px;
}

input.campos:hover, input.campos:focus {
	border:2px solid #000000;
}

.formularios_watermark{
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;	
	font-size: 14px;
	color:#CCC;
		
	border:0px;
    outline: none;
    box-shadow:0px;	
	border-radius:0;
	width:100%;
	
}

.formularios_validator{
	position:absolute;
	width:10px;
	top:10px;
	text-align:right;
}

.formularios_summary_validator ul{
	 padding: 0px;
}

input.formulario, input.formulario:hover, input.formulario:focus, input.formulario:focus:hover{
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;	
	font-size: 14px;
	height: 25px;
	
	border:0px;
    outline: none;
    box-shadow:0px;	
	border-radius:0;
	width:100%;
}

select.formulario, select.formulario:hover,  select.formulario:focus, select.formulario:focus:hover{
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	
	border:0px;
    outline: none;
    box-shadow:0px;
	border-radius:0;
	width:100%;
	
}

textarea.formulario{
	
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;	
	font-size: 14px;
		
	border:0px;
    outline: none;
    box-shadow:0px;	
	border-radius:0;
	width:100%;
	
	/*
	font-size: 11px;
	border:1px solid #006699;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	padding-left: 0px;
	*/
}

checkbox.formulario{
	font-size: 11px;
	border:1px solid #006699;
	padding-top:2px;
	padding-bottom:2px;
	margin-right: 4px;
	padding-left: 4px;
}

.radiocheck .formulario label{
	padding-left:7px;  /* hace que se separen los textos del RADIO check*/

}

select.listaestados{
	font-family:  "Open Sans", Verdana, Arial, Helvetica, sans-serif;		
	font-weight:800;
	color:#FFFFFF;
	background-color:transparent;
	border:2px inset #125cb7;
	min-width:230px;
	min-height:25px;
	padding: 2px 4px;
	border:0px inset #125cb7;
	border-radius:0px;
	height:40px;
	text-align-last:center;
	text-align:center;
	text-align: -webkit-center;
	margin:0 auto;	
}

select.listaestados option {
    /*margin:40px;*/
	background-color: #003366;
    color:#fff;
}

/* estilo espacios de check boxes */
.cm_fields{
	min-width:290px;
	display:inline-block; 
	margin:3px auto
}
.cm_fields label{
	margin-left:5px;
}

/* estilo border de validacion para fields de formularios*/
.invalid, .invalid:hover{
	border:1px solid #f00!important;	
	box-shadow:0px 0px 1px #f00!important;
}

/* estilo para margen de precios */
.precioTipoBoleto{
	/*margin-left:10px;*/
	padding-left:10px;
}

/* COLORES DE EVENTOS EN FONDO */

.verdetransferenciafondo {
	background-color:#009620; /*antes era ff9900*/
}
.naranjafondo {
	background-color:#ff7700; /*antes era ff9900*/
}
.grisfondo {
	background-color:#CCCCCC;
}
.grisoscurofondo {
	background-color:#1e2126;
}
.grissemioscurofondo {
	background-color:#999999;
}
.grisclarofondo {
	background-color:#e5e5e5;
}
.grismuyclarofondo {
	background-color:#f0f0f0;
}
.azulfondo {
	background-color:#003366;
}
.azulmarinofondo {
	background-color:#002a4a;
}
.azullightfondo {
	background-color:#336699;
}
.azulbotonfondo {
	background-color:#125cb7;
}
.amarillofondo {
	background-color:#f7a700;
}
.amarillolightfondo {
	background-color:#ffdb91;
}
.blancofondo {
	background-color:#ffffff;
}
.negrofondo {
	background-color:#30393a;
}
.verdefondo {
	background-color:#335500;
}


/* inicia dropdown menu*/

#submenu_0{
	position:absolute;
	top:0px;
	right:300px;; /* antes era:  left:0px;*/
	z-index:20; /* parta que quede incluso arriba del spin del banner rotator */
}
#submenu_1{
	position:absolute;
	top:0px;
	right:200px;; /* antes era:  left:0px;*/
	z-index:20; /* parta que quede incluso arriba del spin del banner rotator */
}
#submenu_2{
	position:absolute;
	top:0px;
	right:50px;
	z-index:20;
	
}
#submenu_3{
	position:absolute;
	top:0px;
	right:0px;
	z-index:20;
	
}





#submenu_escritorio3 {
	width:100%;
	min-width: 275px;
	text-align:right;
}

#submenu_escritorio2 {
	width:100%;
	min-width: 350px;
	text-align:center;
}

#submenu_escritorio1 {
	width:100%;
	min-width: 160px;
	text-align:left;
}




.submenu_contenido a {
	/*este es para que el submenu tenga el mismo estilo que el dropdown*/
	padding: 12px 16px;
    text-decoration: none;
    display: block;
}




.submenu_contenido a:hover {
	/*este es para que el submenu tenga el mismo estilo que el dropdown*/
	background-color: #f1f1f1
}



.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/* termina dropdown menu*/

/* inicia: css de dropdown de MI CUENTA */
.wrapper-dropdown-5 {
	/* Size & position */
	position: relative;
	width: 300px; /* le da un ancho prudente para que quepan nombre y apellido */
	margin: 0px 0px 0px auto;
	padding: 11px 5px;
	text-align:center;

	/* Styles */
	background: #125cb7; /* color igual al de los botones */
	border-radius: 5px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease-out;
	color:#FFF;
	
	z-index:20;  /* esta arriba de 10 que tiene el menu principal y arriba de 1 que es la animacion de los estelares */
}

.wrapper-dropdown-5:after { /* Little arrow */
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: #002a4a transparent;
}

/*styles for the list elements.*/

.wrapper-dropdown-5 .dropdown_micuenta {
	/* Size & position */
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	/* Styles */
	background: #fff;
	border-radius: 0 0 5px 5px;
	border: 1px solid #125cb7; /* color igual a de los botones en el hover*/
	border-top: none;
	border-bottom: none;
	list-style: none;
	transition: all 0.3s ease-out;

	/* Hiding */
	max-height: 0;
	overflow: hidden;
	text-align:left;
}

.dropdown_micuenta {
	padding: 0px;
	margin: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.wrapper-dropdown-5 .dropdown_micuenta li {
	padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown_micuenta li a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: 10px 0;
	transition: all 0.3s ease-out;
	border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown_micuenta li:last-of-type a {
	border: none;
}

.wrapper-dropdown-5 .dropdown_micuenta li i {
	margin-right: 5px;
	color: inherit;
	vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown_micuenta li:hover a {
	color: #FFF; /* color de la  letra seleccionado */
	border-bottom: 1px solid #125cb7; /* color igual a de los botones en el hover*/		
}

.wrapper-dropdown-5 .dropdown_micuenta li:hover {
	background:#125cb7; /* color igual a de los botones en el hover*/
}	

/* Active state */

.wrapper-dropdown-5.active {
	border-radius: 5px 5px 0 0;
	background: #002a4a; /* color del primier cubo ya seleccionado */
	box-shadow: none;
	border-bottom: none;
	color: white;
}

.wrapper-dropdown-5.active:after {
	border-color: #125cb7 transparent; /* color de triangulito en hover */
}

.wrapper-dropdown-5.active .dropdown_micuenta {
	border-bottom: 1px solid #125cb7; /* color igual a de los botones en el hover*/
	max-height: 400px;
}

/* termina: css de dropdown de MI CUENTA */

/*inicia css menu de micuenta */
.MenuMiCuenta{
padding:20px 10px;
}

.MenuMiCuenta:hover{
color:#feca4e; /*pone las letras amarillas en el hover */
background-color: #125cb7;
-webkit-transition: .2s;
-moz-transition: .2s;
transition: .2s;
}

.MenuMiCuenta_seleccionado{
color: #ffffff;
background-color: #002a4a;

}


.fotoperfil {
width: 100%;
max-width: 300px;
border: 3px solid #FFF;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
border-radius: 100%;
position: relative;
}

.bloque_etiqueta_eventos{
display:inline-block;
width: 120px;
}

.bloque_etiqueta_paso5{
display:inline-block;
width: 120px;
}

/* configuracion de escritorio */

#logotipo {
display: table-cell;
margin-right:auto;
width: 33%;
text-align:left;
}

#logotipo_container{
position: relative;
min-height: 85px;
overflow: hidden;
}
.logotipo_principal{
width: 275px; /* original 250 para que se corte */
position: absolute;
top: -100%;
left: 0;
bottom: -100%;
margin: auto;
}
.logotipo_principal_procesodecompra{
width: 200px;  /* original 250 para que se corte */
position: absolute;
top: -100%;
left: 0;
bottom: -100%;
margin: auto;
}

.menu_micuenta_procesodecompra{
background-color:transparent;
}

#buscador {
display: table-cell;
margin:0px auto;
width: 33%;
text-align:center;
/*
width:100%;
margin:0px 10px;
*/
}

#micuenta_iniciasesion {
display: table-cell;
margin-left:auto;
width: 33%;
text-align:right;
}


.ancho_i_25_100-SmartPhone{
width:25%
}
.ancho_i_75_100-SmartPhone{
width:75%
}
.ancho_i_33_100-SmartPhone{
width:33.333%
}
.ancho_i_66_100-SmartPhone{
width:66.666%
}
.ancho_i_25_100-SmartPhone_vertical{
width:25%
}
.ancho_i_75_100-SmartPhone_vertical{
width:75%
}
.ancho_i_30_100-SmartPhone_vertical{
width:30%
}
.ancho_i_70_100-SmartPhone_vertical{
width:70%
}
.ancho_i_50_100-SmartPhone_vertical{
width:50%
}

.font_i_30_12-SmartPhone{
font-size:30px;
}
.font_i_18_12-SmartPhone{
font-size:18px;
}
.font_i_16_12-SmartPhone{
font-size:16px;
}

.col_i-Oculta_d-SoloSmartPhone{
display:none;
}
.col_i-Desplegada_o-SmartPhone{
display:table-cell;
}

.col_i-Oculta_d-SoloSmartPhone_vertical{
display:none;
}
.col_i-Desplegada_o-SmartPhone_vertical{
display:table-cell;
}

.col_i-Desplegada_inline-SmartPhone{
display:table-cell;
}	

.col_i-Desplegada_inline-SmartPhone_vertical{
display:table-cell;
}

.col_i-Desplegada_block-SmartPhone{
display:table-cell;
}	

.col_i-Desplegada_block-SmartPhone_vertical{
display:table-cell;
}

.div_i-Oculta_d-SoloSmartPhone{
display:none;
}
.div_i-Desplegada_o-SmartPhone{
display:block;
}

.div_i-Oculta_d-SoloSmartPhone_vertical{
display:none;
}
.div_i-Desplegada_o-SmartPhone_vertical{
display:block;
}

.divBloque_i-Oculta_d-SoloSmartPhone{
display:none;
}
.divBloque_i-Desplegada_o-SmartPhone{
display:inline-block;
}

.divBloque_i-Oculta_d-SoloSmartPhone_vertical{
display:none;
}
.divBloque_i-Desplegada_o-SmartPhone_vertical{
display:inline-block;
}

#OtroMenu{
max-width:300px;
}

.Col_MenuCategoriasDer{
display:none;
}


#pie_columna_1{
display:inline-block;
min-width:100px;
max-width:200px;
width:20%;
text-align:left;
vertical-align:top;
margin:10px 5px;
}
#pie_columna_2{
display:inline-block;
min-width:200px;
max-width:300px;
width:30%;
text-align:left;
vertical-align:top;
margin:10px 5px;
}
#pie_columna_3 {
display:inline-block;

max-width:700px;
width:45%;
text-align:center;
vertical-align:top;
margin:10px 5px;
}
#pie_columna_3 img{
border:#000000 solid 1px;
}		

#publicidad{ /* esta es la columna de la derecha */
display:block;
}

.listado_artistas{
margin:10px 5px 10px 5px; /* antes era: margin:0px 5px 20px 5px; */
width:22%; /* se muestran 4 */
}

#publicidad_hor_izq{
width:33%;
vertical-align:top;
text-align:left;
display:inline-block;
}

#publicidad_hor_der{
width:67%;
vertical-align:top;
padding-left:10px;
text-align:right;
display:inline-block;
}

.campo_hor_izq{
width:33%;
vertical-align:top;
text-align:left;
display:inline-block;
}


.campo_hor_der{
width:67%;
vertical-align:top;
padding-left:10px;
text-align:right;
display:inline-block;
}

.campo2_hor_izq{
width:45%;
vertical-align:top;
text-align:left;
display:inline-block;
}
.campo2_hor_der{
width:55%;
vertical-align:top;
padding-left:10px;
text-align:right;
display:inline-block;
}

.campo3_hor_izq{
width:50%;
vertical-align:top;
text-align:left;
display:inline-block;
}
.campo3_hor_der{
width:50%;
vertical-align:top;
padding-left:10px;
text-align:right;
display:inline-block;
}

.imageneventocompra{
width:300px;     
margin-top: -125px;
border: solid 10px #FFF;
border-bottom: none;	
}

.divimageneventocompra{
display:none;
}

.flexizq66a100compra{
width:66.66%;
}

.BoletosSeleccionados{
position:relative;
bottom: 0px; 
width: 100%;  
left: 0px;   
background:none;    
border-top:none;
}

.col_ancho30{
width:30%;
}
.col_ancho33{
width:33%;
}

.col_ancho30_vertical{
width:30%;
}

.text_i_izq_cent_SmartPhone{
text-align:left;
}
.text_i_der_cent_SmartPhone{
text-align:right;
}
.oculta_smartphone{
display:block;
}
.muestra_984{
display:none;
}
#ListadeBoletos{
display:block
}
